#macro (cap $strIn)$strIn.valueOf($strIn.charAt(0)).toUpperCase()$strIn.substring(1)#end
#set($capMethodName = "#cap(${methodName})")
@Test
public void test#cap($methodName) () {
    ${capMethodName}Command cmd = new ${capMethodName}Command();
    $render.evaluate(${setterBlock})
    ${capMethodName}RestResponse response = httpClientService.restPost($requestUriName, cmd, ${capMethodName}RestResponse.class);
    assertNotNull(response);
    assertTrue("response = " + StringHelper.toJsonString(response), httpClientService.isReponseSuccess(response));
    // assertNotNull("response should be not null", response.getResponse());
}